.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 10px;
}
.dialogs.dialog {
}
.dialogsItems .active {
  color: rgb(83, 175, 175);
}
.messages {
  padding: 10px;
}
.messages.message {
}
